@font-face {
    font-family: UbuntuMono;
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/ubuntumono.ttf") format("ttf");
}

@font-face {
    font-family: UbuntuMono;
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/ubuntumono-bold.ttf") format("ttf");
}

@font-face {
    font-family: UbuntuMono;
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/ubuntumono-italic.ttf") format("ttf");
}

@font-face {
    font-family: UbuntuMono;
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../fonts/ubuntumono-bold-italic.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    src: local(""), url("../fonts/ubuntu-light.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/ubuntu.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    src: local(""), url("../fonts/ubuntu-medium.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/ubuntu-bold.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 300;
    src: local(""), url("../fonts/ubuntu-light-italic.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/ubuntu-italic.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 500;
    src: local(""), url("../fonts/ubuntu-medium-italic.ttf") format("ttf");
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 700;
    src: local(""), url("../fonts/ubuntu-bold-italic.ttf") format("ttf");
}

@font-face {
    font-family: Monofur;
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/monofur.ttf") format("ttf");
}

@font-face {
    font-family: Monofur;
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/monofur-bold.ttf") format("ttf");
}

@font-face {
    font-family: Monofur;
    font-style: italic;
    font-weight: 400;
    src: local(""), url("../fonts/monofur-italic.ttf") format("ttf");
}
